.light-mode .skip {
    background-color: $light-primary;
}

.dark-mode .skip {
    background-color: $dark-primary;
}

.skip {
    position: fixed;
    left: -10000px;
    top: 127px;
    padding: 20px;
    font-size: 1.6em;
    border-radius: 0 10px 10px 0;
    box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

#reset-focus {
    outline: none;
}
