.dark-mode .login-section {
    .form-panel {
        background-color: $dark-primary;
    }
}

.light-mode .login-section {
    .logo {
        filter: invert(100%);
    }

    .form-panel {
        background-color: $light-primary;
    }
}

.login-section {
    padding: 20px 0;

    .left-panel {
        max-width: 360px;
        margin-right: 60px;
    
        .logo {
            display: flex;
            justify-content: flex-start;
            margin-bottom: 40px;
    
            img {
                width: 120px;
            }
        }
    
        h1 {
            text-align: left;
        }
    }

    .form-panel {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.2);
        max-width: 420px;
        width: 100%;

        form {
            width: 100%;
        }
    
        a {
            font-weight: bold;
    
            &:hover {
                text-decoration: underline;
            }

            &.forgot-password {
                display: block;
                margin-bottom: 20px;
                font-size: 1.4em;
            }
        }
    
        p {
            font-size: 1.4em;
            margin-top: 20px;
        }
    }
}

@media (max-width: 1199.98px) {
    .login-section .left-panel {
        margin: 0 auto 40px auto;

        h1 {
            text-align: center;
            font-size: 2em;
        }

        .logo {
            justify-content: center;
            margin: 0 auto 20px auto;
        }
    }
}
