.dark-mode {
    .container button:first-of-type {
        color: white;
    }

    #user-links {
        ul {
            background-color: $dark-primary;
        }
    }
}

.light-mode {
    #user-links {
        ul {
            background-color: $light-primary;
        }
    }
}

img.user-avatar {
    object-fit: cover;
    width: 28px;
    height: 28px;
    cursor: pointer;
    border-radius: 50%;
    object-fit: cover !important;
    margin-right: 12px;
}

@media (min-width: 575.98px) {
    .container {
        display: flex;
        align-items: center;
        margin-left: 10px;

        button:first-of-type {
            display: flex;
            align-items: center;
            cursor: pointer;

            p {
                font-size: 1.4em;
            }

            span {
                opacity: 0.8;
                cursor: pointer;

                &.user-avatar {
                    font-size: 34px;
                    margin-right: 10px;
                }

                &:last-of-type {
                    margin: 0 0 -2px 5px;
                    transition: transform 0.2s;
                    font-size: 32px;

                    &.active {
                        transform: rotate(180deg);
                    }
                }
            }

        }
    }

    #user-links {
        display: block;
        visibility: hidden;
        position: absolute;
        max-height: 0;
        top: 42px;
        right: -2px;
        border-radius: 10px;
        box-shadow: 0 0 10px #00000050;
        overflow: hidden;
        transition: visibility 0.4s, max-height 0.4s;

        &.active {
            visibility: visible;
            max-height: 196px;
        }

        ul {
            min-width: 216px;
            width: 100%;
            padding: 20px;
            border-radius: 10px 10px 0 0;
            transition: background-color 0.2s;

            li {
                & > a:hover,
                & > a:focus,
                & > button:hover,
                & > button:focus {
                    font-weight: bold;

                    .material-icons {
                        opacity: 1;
                    }
                }

                &:not(:last-of-type) {
                    margin-bottom: 20px;
                }

                a, button {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    font-size: 1.4em;
                    margin: 0;
                    padding: 0;

                    span {
                        cursor: pointer;

                        margin-right: 10px;
                        font-size: 24px;
                    }
                }
            }
        }
    }
}

@media (max-width: 575.98px) {
    .dark-mode {
        #user-button #hamburger {
            color: white;

            &::after, &::before {
                background-color: white;
            }
        }

        .user-is-tabbing #user-button:focus {
            outline: 2px solid white;
        }

        #user-links {
            background-color: $dark-primary;
            border-top: 1px solid $dark-background;
            color: white;
        }

        #user-links ul {
            color: white;

            li a, li button {
                border-bottom: 1px solid $dark-background;
                
                &:hover, &:focus {
                    background-color: darken($dark-primary, 5%);
                }

                &:focus {
                    border: 1px solid white;
                }
            }
        }
    }

    .light-mode {
        #user-button #hamburger {
            color: black;

            &::after, &::before {
                background-color: black;
            }
        }

        .user-is-tabbing #user-button:focus {
            outline: 2px solid black;
        }

        #user-links {
            background-color: $light-primary;
            border-top: 1px solid darken($light-background, 10%);   
        }

        #user-links ul {
            li a, li button {
                border-bottom: 1px solid darken($light-background, 10%);
    
                &:hover, &:focus {
                    background-color: darken($light-primary, 10%);
                }

                &:focus {
                    border: 1px solid black;
                }
            }
        }
    }

    .no-animations button:first-of-type #hamburger::after, 
    .no-animations button:first-of-type #hamburger::before {
        transition: none;
    }

    button:first-of-type {
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;

        p {
            display: block;
            visibility: hidden;
            max-width: 0;
            max-height: 0;
            font-size: 1.4em;
            margin-right: 10px;
            visibility: hidden;
            transition:  visibility .4s, max-width .4s, max-height .4s;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        span {
            opacity: 0.8;
            cursor: pointer;

            &:first-of-type {
                margin-right: 10px;
                font-size: 34px;
            }

            &:last-of-type {
                display: none;
            }
        }

        #hamburger {
            border-top: 3px solid;
            width: 30px;

            &::after, &::before {
                display: block;
                position: relative;
                content: "";
                width: 30px;
                height: 3px;
                margin-top: 6px;
                transition: transform .3s;
            }
        }

        &.active {
            p {
                visibility: visible;
                max-width: 100px;
                min-height: 22px;
                margin-right: 10px;
            }

            #hamburger {
                border-top-color: transparent;
    
                &::before {
                    transform: rotate(135deg); 
                }
    
                &::after {
                    transform: rotate(-135deg);
                    top: -9px;
                }
            }
        }
    }

    #user-links {    
        position: fixed;
        top: 72px;
        right: 0;
        box-shadow: -5px 15px 15px 1px rgba(0, 0, 0, 0.2);
        width: 65vw;
        height: 0;
        z-index: 999;
        visibility: hidden;
        overflow: hidden;
        transition: visibility .4s, height .4s;

        &.active {
            visibility: visible;
            height: 100vh;
        }

        li {

            a, button {
                width: 100%;
                font-size: 1.6em;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 20px;
    
                &:focus {
                    outline: none;
                    border: 1px solid;
                }

                span.material-icons  {
                    display: block;
                    margin-right: 20px;
                    cursor: pointer;
                    font-size: 24px;
                }
            }
        }
    }
}

@media (max-width: 380.98px) {
    .container button:first-of-type p {
        display: none;
    }
}
