.dark-mode button {
    color: white;
}

.light-mode button {
    color: black;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    cursor: pointer;
}

span.material-icons {
    font-size: 30px;
    filter: opacity(80%);
    margin-left: 10px;
    border-radius: 50%;
    transform: rotate(-180deg);
    cursor: pointer;
    transition: transform .2s;
}


span.material-icons.active {
    transform: rotate(0deg);
}
