.user-is-tabbing .input-field textarea:focus {
    outline: $outline solid $outline-color;
}

.user-is-tabbing .input-field textarea.error {
    outline: $outline solid lighten($red, 25%);
}

.dark-mode {
    .input-field {
        textarea {
            background-color: $dark-secondary;
        }
    
        span:first-of-type.error {
            color: lighten($red, 25%);
        }
        
        textarea,
        textarea::placeholder {
            color: white;
        }
    }

    #error-message {
        color: lighten($red, 25%);
    }
}

.light-mode {
    .input-field {
        textarea {
            background-color: $light-background;
        }

        span:first-of-type.error {
            color: $red;
        }

        textarea,
        textarea::placeholder {
            color: black;
        }
    }

    #error-message {
        color: $red;
    }
}

.textarea-container {
    margin-bottom: 20px;
}

.input-field {
    position: relative;
    border-radius: 10px;

    label {
        position: relative;
        font-size: 1.6em;
    }

    textarea {
        width: 100%;
        border-radius: 10px;
        border: none;
        outline: none;
        font-size: 1.6em;
        padding: 20px;
        margin-top: 5px;
        min-height: 130px;
        resize: none;
        transition: background-color .2s;
        font-family: inherit;

        &:focus {
            outline: solid $outline-color;
            outline-offset: 0;
        }

        &::placeholder {
            opacity: 0.8;
        }
    
        &[type="date"]::-webkit-calendar-picker-indicator {
            opacity: 0;
            cursor: pointer;
        }

        &.error {
            outline: solid lighten($red, 25%);
        }
    }

    span {
        position: absolute;
        font-size: 1.4rem;
        text-align: center;

        &.date-picker {
            bottom: 21px;
            right: 21px;
            opacity: 0.7;
            pointer-events: none;
            font-size: 1.3rem;
        }
    }
}

#error-message {
    display: none;
    visibility: hidden;
    position: relative;
    font-size: 1.3em;
    margin: 5px 0 -5px 0;

    &.error {
        display: block;
        visibility: visible;
    }
}
