.light-mode .search-bar {
    background-color: white;

    img {
        filter: invert(100%);
    }

    input,
    input::placeholder {
        color: black;
    }
}

.dark-mode .search-bar {
    background-color: $dark-secondary;

    input,
    input::placeholder {
        color: white;
    }
}

.search-bar:focus-within {
    outline: $outline solid $outline-color;
}

.search-bar {
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1015px;
    width: 100%;
    height: 64px;
    padding: 0 20px;
    border-radius: 50px;
    transition: background-color 200ms ease-in-out;
    box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.1);

    img {
        width: 28px;
        height: 28px;
        margin-right: 17px;
        cursor: pointer;
    }

    input {
        background: none;
        width: 100%;
        height: 100%;
        border-radius: 0 50px 50px 0;
        border: none;
        font-size: 1.4em;
        text-overflow: ellipsis;
        padding: 0 10px;

        &:focus {
            outline: none;
        }
    }
}
