body.user-is-tabbing #logo a:focus-within {
    outline: 2px solid white;
}

.light-mode {
    header {
        color: black;
        background-color: $light-primary;

        .nav-links::after {
            background-color: black;
        }
    }

    #logo {
        filter: invert(100%);
    }
}

.dark-mode {
    header {
        color: white;
        background-color: $dark-primary;

        .nav-links::after {
            background-color: white;
        }
    }
}

.container {
    position: sticky;
    top: 0;
    z-index: 999;
}

header {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    border-radius: 0 0 50px 50px;
    box-shadow: 0 -5px 10px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 200ms ease-in-out;

    #logo img {
        width: 120px;
    }

    nav {
        max-width: 960px;
        width: 85%;
        margin: 0 auto;
        padding: 0 10px;

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;

            li:first-child {
                position: relative;
                display: flex;

                .nav-links {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.6em;
                    cursor: pointer;

                    &:hover, &:focus {
                        font-weight: bold;
                        margin-right: -1px;
                    }

                    span {
                        margin-right: 10px;
                        cursor: pointer;
                    }
                }

                #users-link {
                    margin-left: 45px;
                }

                #recipes-link { 
                    margin-left: 40px;
                }
            }
        }
    }
}

@media (min-width: 575.98px) {
    #menu-background{
        display: none !important;
    }
}

@media (max-width: 575.98px) {
    #menu-background {
        display: block;
        z-index: 1;
    }

    header {
        transition: border-radius 2s ease-in;

        &.active {
            border-radius: 0 0 0 50px;
            transition: border-radius 70ms;
        }

        #recipes-link { 
            display: none;
        }
    }
}

@media (max-width: 991.98px) {
    header #users-link {
        display: none;
    }
}
