.light-mode {
    header {
        color: black;
        background-color: $light-primary;
    }

    .links a:last-of-type {
        color: black;
        border: 1px solid black;
    }
}

.dark-mode {
    header {
        color: white;
        background-color: $dark-primary;
    }

    #logo {
        filter: invert(100%);
    }

    .links a {
        color: white;
    }
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    border-radius: 0 0 50px 50px;
    box-shadow: 0 -5px 10px 5px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    transition: background-color 200ms ease-in-out;

    nav {
        max-width: 960px;
        width: 85%;
        margin: 0 auto;
        padding: 0 10px;

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .sandwich-menu {
                display: none;
            }
        }
    }
}

@media (min-width: 575.98px) {
    header nav ul {
        .links {
            display: flex !important;
            width: 100%;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 38px;
                padding: 0 18px;
                border-radius: 50px;
                font-size: 1.2em;
                transition: background-color 400ms;
                font-weight: bold;
                border: none;
                text-decoration: none;

                &:first-of-type {
                    color: white;
                    background-color: $red;
                    padding: 11px 20px;
                    margin-right: 25px;

                    &:hover {
                        background-color: darken($red, 5%);
                    }
                }

                &:last-of-type {
                    background-color: transparent;
                    border: 1px solid white;
                }
            }
        }
    }
}

@media (max-width: 575.98px) {
    .dark-mode {
        .links, .arrow {
            background-color: $dark-primary;
        }
    }

    .light-mode {
        .links, .arrow {
            background-color: $light-primary;
        }
    }


    header {
        display: block;
        padding: 18px 0;

        nav {
            ul {
                .links {
                    position: absolute;
                    top: 55px;
                    right: 50px;
                    padding: 20px;
                    border-radius: 10px 0 10px 10px;
                    font-size: 1.4em;
                    display: grid;
                    grid-template-columns: 1fr;
                    box-shadow: 4px -5px 5px rgba(0, 0, 0, 0.1);
                    z-index: 999;

                    a { 
                        width: 100%;
                        min-width: 80px;

                        &:not(:last-child) {
                            margin-bottom: 25px;
                        }

                        &:hover {
                           font-weight: bold;
                        }
                    }
                }

                .sandwich-menu {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: 0.4s transform;

                    span.material-icons {
                        font-size: 36px;
                        cursor: pointer;
                    }

                    &:hover {
                        transform: scale(1.08);
                    }
                }
            }
        }
    }
}

@media (max-width: 767.98px) {
    header nav ul {
        li:first-child {
            display: none;
        }

        .links a {
            &:first-of-type {
                margin-right: 10px;
            }
        }
    }
}
