.dark-mode {
    .input-field {
        background-color: #464646;
    
        span:first-of-type.error {
            color: lighten($red, 20%);
        }

        input,
        input::placeholder {
            color: white;
        }
    }

    #error-message {
        color: lighten($red, 26%);
    }
}

.light-mode {
    .input-field {
        background-color: $light-background;

        span:first-of-type.error {
            color: $red;
        }

        input,
        input::placeholder {
            color: black;
        }
    }

    #error-message {
        color: $red;
    }
}

.input-container {
    margin-bottom: 20px;
}

.input-field {
    position: relative;
    margin: 0 auto;
    padding-left: 20px;
    height: 62px;
    border-radius: 10px;
    width: 100%;
    
    &.error {
        transition: color .6s;
    }

    input {
        background-color: transparent;
        width: 100%;
        height: 100%;
        border-radius: 0 10px 10px 0;
        border: none;
        outline: none;
        font-size: 1.6em;
        padding: 17px 20px 0 30px;
    
        &.password {
            padding-right: 50px;
        }
    
        &.password[type="password"]::-ms-reveal,
        &.password[type="password"]::-ms-clear {
            display: none;
        }
    
        &[type="date"]::-webkit-calendar-picker-indicator {
            opacity: 0;
            cursor: pointer;
        }
    
        &:focus, &:not(:placeholder-shown) {
            outline: none !important;
        
            & ~ label {
                font-size: 1.3em !important;
                bottom: 34px;
                opacity: 80%;
                width: 60%;
            }
        }
    
        &:not(:placeholder-shown) ~ .password-visibility {
            display: block;
        }
    }
    
    
    input[type="date"]::-webkit-calendar-picker-indicator {
        position: absolute;
        bottom: 20px;
        right: 15px;
    }
    

    label {
        position: absolute;
        bottom: 24px;
        left: 50px;
        width: 63%;
        transition: bottom ease 0.5s, font-size ease 0.5s;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: break-word;
        line-break: break-all;
        overflow: hidden;
        font-size: 1.6em !important;
        cursor: text;
    }

    span {
        position: absolute;
        font-size: 1.4rem;
        text-align: center;

        &:first-of-type {
            bottom: 20px;
            left: 15px;
        }

        &.password-visibility  {
            bottom: 20px;
            right: 15px;
            opacity: 70%;
            display: none;
            cursor: pointer;
            transition: opacity .6s;

            &.hide {
                opacity: 50%;
            }
        }

        &.password-visibility.hide {
            opacity: 50%;
        }

        &.date-picker {
            bottom: 21px;
            right: 16px;
            opacity: 70%;
            pointer-events: none;
            font-size: 1.3rem;
        }
    }

    &:focus-within {
        outline: 2px solid;
        outline-offset: 0;
        border-radius: 11px;
    }
}


#error-message {
    display: none;
    visibility: hidden;
    position: relative;
    font-size: 1.3em;
    margin: 5px 0 -10px 0;
    transition: visibility .6s;


    &.error {
        display: block;
        visibility: visible;
    }
}
