// LIGHT MODE
$light-primary: #fcfcfc;
$light-background: #dbdbdb;
$light-success: #14702b;

// DARK MODE
$dark-primary: #3a3a3a;
$dark-background: #2b2b2b;
$dark-success: #49c468;

// FONT COLORS
$black: #111111;
$white: #fafafa;

// BUTTONS AND ERRORS
$red: #d22030;

// ICONS
$gray-icon: #484848;
