#a11y-background {
    display: none;
    z-index: 999;
}

#a11y-background ~ div {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 999;
}

.light-mode {
    .arrow {
        border-top: 20px solid $light-primary;
    }

    ul {
        background-color: $light-primary;
    }
}

.dark-mode {
    .arrow {
        border-top: 20px solid $dark-primary;
    }

    ul {
        background-color: $dark-primary;
    }

    ul li:last-child button {
        color: white;
    }
}

ul {
    padding: 20px 0;
    border-radius: 10px 10px 0 10px;
    box-shadow: 1px -4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    margin-bottom: -1px;

    li {
        display: flex;
        align-items: center;
        padding: 0 17px;
        transition: transform 400ms;

        &:first-child  h3 {
            font-size: 1.6em;
            margin: 0 auto;
            text-align: center;
        }

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        &:last-child button {
            margin: 0 auto;
            border: 1px solid;
            border-radius: 50px;
            font-size: 1.4em;
            width: 100%;
            height: 45px;
            padding: 0 18px;
            cursor: pointer;
        }
    }
}

#font-sizing {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    span {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 26px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $red;
        color: white;

        &:not(last-child) {
            margin-right: 5px;
        }

        &:not(first-child) {
            margin-left: 5px;
        }

        &:hover {
            cursor: pointer;
            font-weight: bold;
            background-color: darken($red, 5%);
        }
    }
}

.arrow {    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin: 0 0 15px auto;
    border-left: 25px solid transparent;
    border-right: 0px solid transparent;
    box-shadow: 10px 0px 13px -7px rgba(0, 0, 0, 0.3);
}

#a11y-button {
    width: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 50%;
    z-index: 999;
    background-color: $red;
    color: white;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

#a11y-button img {
    width: 47px;
    height: 46px;
}

@media (min-width: 575.98px) {
    #a11y-menu {
        position: absolute;
        bottom: 60px;
        right: 31px;
        width: 352px;
        visibility: hidden;
        opacity: 0;
        transition: visibility .2s, opacity .2s;
    
        &.active {
            visibility: visible;
            opacity: 1;
        }
    }
}

@media (max-width: 575.98px) {
    #a11y-background ~ div {
        position: fixed;
        bottom: 10px;
        right: 10px;
    }
    
    #a11y-menu {
        position: fixed;
        bottom: 0px;
        right: 0;
        left: 0;
        width: 100%;
        margin: 0 auto;
        visibility: hidden;
        opacity: 0;
        transition: visibility .2s, opacity .2s;
        z-index: -1;
    
        &.active {
            visibility: visible;
            opacity: 1;
        }
    }

    ul {
        border-radius: 10px 10px 0 0;
        padding-bottom: 84px;
    }

    .arrow {
        display: none;
    }
}

@media (max-width: 991.98px) {
    #a11y-background {
        display: block;
    }
}
