.light-mode {
    header {
        color: black;
        background-color: $light-primary;
    }
}

.dark-mode {
    header {
        color: white;
        background-color: $dark-primary;
    }

    #logo {
        filter: invert(100%);
    }
}

header {
    position: relative;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    border-radius: 0 0 50px 50px;
    box-shadow: 0 -5px 10px 5px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    transition: background-color 200ms ease-in-out;

    nav {
        max-width: 960px;
        width: 85%;
        margin: 0 auto;
        padding: 0 10px;

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

@media (min-width: 575.98px) {
    nav ul li:last-of-type {
        .mobile-button {
            display: none;
        }

        .links {
            display: flex !important;

            li {
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 38px;
                    padding: 0 18px;
                    border-radius: 50px;
                    font-size: 1.2em;
                    font-weight: bold;
                    text-decoration: none;
                }
    
                &:first-of-type a {
                    background-color: $red;
                    color: white;
                    margin-right: 20px;
                    border: none;
                    transition: background-color 400ms;
    
                    &:hover {
                        background-color: darken($red, 5%);
                    }
                }
    
                &:last-of-type a {
                    border: 1px solid;
                }
            }
        }
    }
}

@media (max-width: 575.98px) {
    header.border-fix {
        border-radius: 0 0 0 50px;
    }

    .dark-mode ul li:last-of-type  {
        .mobile-button {

            #hamburger {
                color: white;
    
                &::after, &::before {
                    background-color: white;
                }
            }
        } 

        .links {
            background-color: $dark-primary;
            border-left: 1px solid darken($dark-primary, 5%);
            border-bottom: 1px solid darken($dark-primary, 5%);
            color: white;
    
            li a {
                border-top: 1px solid $dark-background;

                &:not(:last-of-type) {
                    border-bottom: 1px solid $dark-background;
                }
    
                &:hover, &:focus {
                    background-color: darken($dark-primary, 5%);
                }
            }
        }
    }

    .dark-mode .user-is-tabbing .mobile-button:focus {
        outline: 2px solid white;
    }

    .light-mode ul li:last-of-type  {
        .mobile-button {

            #hamburger {
                color: black;
    
                &::after, &::before {
                    background-color: black;
                }
            }
        } 

        .links {
            background-color: $light-primary;
            border-left: 1px solid darken($light-background, 5%);
            border-bottom: 1px solid darken($light-background, 5%);
    
            li a {
                border-top: 1px solid darken($light-background, 10%);
                &:not(:last-of-type) {
                    border-bottom: 1px solid darken($light-background, 10%);
                }

                &:focus {
                    background-color: darken($light-primary, 10%);
                }
    
                &:hover {
                    background-color: darken($light-primary, 10%);
                }
            }
        }
    }

    .light-mode .user-is-tabbing .mobile-button:focus {
        outline: 2px solid black;
    }

    nav ul li:last-of-type {
        .mobile-button {
            display: flex;
            border: none;
            background: none;
            cursor: pointer;
            gap: .5rem;
            color: white;       

            #hamburger {
                border-top: 3px solid;
                width: 30px;

                &::after, &::before {
                    display: block;
                    content: "";
                    width: 30px;
                    height: 3px;
                    margin-top: 6px;
                }
            }
        }

        .links {    
            display: block;
            position: absolute;
            top: 72px;
            right: 0px;
            box-shadow: -5px 15px 15px 1px rgba(0, 0, 0, 0.2);
            width: 50vw;
            z-index: 999;
            overflow-y: hidden;

            li a {
                width: 100%;
                font-size: 1.6em;
                display: flex;
                justify-content: flex-start;
                padding: 20px;
                transition: background-color 200ms;

                &:focus {
                    outline: none;
                    border: 1px solid;
                }
            }
        }
    }
}

@media (max-width: 767.98px) {
    nav ul:not(.links) > li:first-of-type {
        display: none;
    }
}
